<section class="bg-white h-[240px]" style="background-color: #F8F9FA;">

    <div class="max-w-[1280px] mx-auto h-full flex flex-col items-center justify-center">

        <div class="text-center mb-8">
            <div class="font-roboto-slab font-semibold text-[#2C5C3E] text-4xl break-all">
                Descubra os pontos ecoturísticos da Paraíba
            </div>
            <div class="font-poppins font-semibold text-[#6EB57D] mt-4 break-all">
                Encontre os melhores destinos para conectar-se com a natureza e muito mais
            </div>
        </div>

        <div
            class="grid grid-cols-[40px_1fr] items-center w-[600px] max-w-[600px] mx-auto rounded-full p-2 bg-white shadow-md border border-gray-100">
            <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                    class="text-[#2C5C3E]">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </div>

            <input type="text" class="text-[#2C5C3E] py-2 pr-4 outline-none font-poppins rounded-r-full"
                placeholder="Digite o nome do ponto que procura">
        </div>

    </div>

</section>