<header style="background-color:#2C5C3E" class="w-full">
    <div class="px-12 mx-auto">

        <div class="navbar text-white">
            <div class="navbar-start">
                <h2 class="font-roboto-slab font-semibold text-2xl">
                    Terras
                </h2>
                <h2 class="font-roboto-slab font-semibold text-2xl" style="color: #6EB57D;">
                    Paraibana
                </h2>
            </div>

            <div>
                <div class="grid grid-cols-3 gap-8 w-max mx-auto justify-items-center">
                    <a routerLink="">
                        <div class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="flex-shrink-0">
                                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                                <path
                                    d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                            </svg>
                            <span>Início</span>
                        </div>
                    </a>

                    <a routerLink="">
                        <div class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
                                stroke-linejoin="round" class="flex-shrink-0">
                                <path
                                    d="M14.106 5.553a2 2 0 0 0 1.788 0l3.659-1.83A1 1 0 0 1 21 4.619v12.764a1 1 0 0 1-.553.894l-4.553 2.277a2 2 0 0 1-1.788 0l-4.212-2.106a2 2 0 0 0-1.788 0l-3.659 1.83A1 1 0 0 1 3 19.381V6.618a1 1 0 0 1 .553-.894l4.553-2.277a2 2 0 0 1 1.788 0z" />
                                <path d="M15 5.764v15" />
                                <path d="M9 3.236v15" />
                            </svg>
                            <span>Mapa</span>
                        </div>
                    </a>

                    <a routerLink="">
                        <div class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
                                stroke-linejoin="round" class="flex-shrink-0">
                                <path
                                    d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5" />
                            </svg>
                            <span>Favoritos</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="navbar-end">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-12 rounded-full">
                            <img alt="Avatar do usuário"
                                src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                        </div>
                    </div>
                    <ul tabindex="-1"
                        class="menu dropdown-content bg-emerald-800 rounded-box z-[100] mt-4 w-52 p-2 shadow-sm">
                        <li><a routerLink="">Perfil</a></li>
                        <li><a routerLink="">Configurações</a></li>
                        <li><a routerLink="" class="text-error">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>